<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:insert="includes/head :: header(title='Регистрация')" />

<body>
<div class="container">
    <form th:action="@{/registration}" method="post" class="_form col-sm-8" th:object="${user}">
        <div th:if="${userExists}" class="alert alert-danger" role="alert">
            Такой пользователь существует
        </div>
        <div th:replace="includes/form :: form"></div>
        <div class="form-group text-center mt-2">
            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
        </div>
        <div class="row d-flex justify-content-between">
            <div class="col-sm-6">
                <div>У меня уже есть аккаунт</div>
            </div>
            <div class="col-sm-2">
                <a th:href="@{/login}">Войти</a>
            </div>
        </div>
    </form>
</div>
<div th:replace="includes/scripts :: scripts" />
</body>
</html>